body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: rgb(40, 49, 54);
    font-weight: normal;
}

.title {
    font-family: "Roboto Medium", sans-serif;
    font-size: 55px;
    line-height: 55px;
}

.subtitle {
    font-weight: bold;
    font-size: 24px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 1160px;
    padding: 0 20px;
    margin: 0 auto;
}

/*----------Стили главной страницы-------*/

/*Шапка*/

.main-header {
    background: #eeeeee;
    padding-bottom: 18px;
}

.main-header .logo {
    width: 160px;
    height: 65px;
    float: left;
    margin-right: 200px;
}

.main-header .navigation {
    float: left;
    width: 600px;
}

.main-header .basket {
    float: right;
    width: 160px;
}

/*Основное содержание страницы*/

.main-page {
    background: #c7e1f7;
}

.main-page .content-1 {
    background: #eee;
}

.main-page .content-1 .content-left {
    float: left;
    width: 400px;
}

.main-page .slider {
    float: right;
    width: 698px;
    height: 413px;
}

.main-page .services-container {
    border-bottom: 2px solid gray;
    padding-top: 80px;
    padding-bottom: 80px;
}

.services h2 {
    margin: 0;
}

.services .item {
    float: left;
    width: 300px;
    margin-right: 100px;
}

.services .item:last-child {
    margin-right: 0;
}

.main-page .aboutus-container {
    padding-top: 40px;
    padding-bottom: 75px;
    border-bottom: 2px solid gray;
}

.main-page .aboutus-container .subtitle {
    margin: 0;
}

.aboutus-container .content-left {
    float: left;
    width: 700px;
}

.aboutus-container .content-right {
    float: right;
    width: 360px;
}

.aboutus-container .features div {
    float: left;
    width: 100px;
}

.main-page .links-container {
    padding-top: 46px;
    padding-bottom: 44px;
    border-bottom: 2px solid gray;
    margin-bottom: 80px;
}

.links-container .link-item {
    float: left;
    width: 290px;
    text-align: center;
}

/*Подвал*/

.main-footer {
    background: #57c9a1;
}

.main-footer .map {
    width: 1440px;
    height: 416px;
    margin: 0 auto;
    margin-bottom: 67px;
}

.main-footer .content {
    padding-bottom: 67px;
}

.main-footer .footer-links {
    float: left;
    width: 400px;
}

.main-footer .footer-discount {
    float: right;
    width: 560px;
}

/*----------Стили страницы Магазина-------*/

/*Шапка*/

.shop-header {
    background: #eee;
}

.shop-header .logo {
    width: 160px;
    height: 65px;
    float: left;
    margin-right: 200px;
}

.shop-header .navigation {
    float: left;
    width: 600px;
}

.shop-header .basket {
    float: right;
    width: 160px;
}

/*Основное содержние страницы*/

.shop-page {
    background: lightblue;
}

.shop-page .page-name {
    padding-top: 77px;
    padding-bottom: 105px;
}

.page-name {
    background: #eee;
}

.page-name .title {
    width: 760px;
    text-align: center;
    margin: 0 auto;
}

.shop-page .content h2 {
    margin: 0
}

.shop-page .content-left {
    float: left;
    width: 260px;
}

.shop-page .content-right {
    width: 760px;
    float: right;
}

.shop-page .content {
    padding-top: 60px;
}

.content-right .sort-type {
    margin-bottom: 57px;
}

.sort-type .subtitle {
    float: left;
    width: 300px;
}

.sort-type .sorting {
    float: right;
    width: 360px;
}

.content-right .site-templates {
    margin-bottom: 60px;
}

.site-templates .preview {
    display: inline-block;
    width: 360px;
    height: 576px;
}

.content-right .pages {
    margin-bottom: 60px;
}


.shop-footer {
    background: #57c9a1;
}

.shop-footer .map {
    width: 1440px;
    height: 416px;
    margin: 0 auto;
    margin-bottom: 67px;
}

.shop-footer .content {
    padding-bottom: 67px;
}

.shop-footer .footer-links {
    float: left;
    width: 400px;
}

.shop-footer .footer-discount {
    float: right;
    width: 560px;
}